build --action_env PYTHON_BIN_PATH=/usr/bin/python
build --define PYTHON_BIN_PATH=/usr/bin/python

build --spawn_strategy=standalone
build --genrule_strategy=standalone

build --define=grpc_no_ares=true
